<h2>Por capital</h2>

<hr />

<div class="row">
  <div class="col">
    <!-- search  -->
    <!-- (onValue)="searchByCapital($event)" -->
    <shared-search-box
      (onDebounce)="searchByCapital($event)"
      placeholder="Buscar por capital"
    ></shared-search-box>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
      <countries-table [countries]="countries"> </countries-table>
    </div>
  </div>
</div>
