<ul class="list-group">
  <li
    *ngFor="
      let character of characteresList;
      let i = index;
      let isFirst = first;
      let isLast = last;
      let isEven = even
    "
    class="list-group-item d-flex justify-content-between"
    [ngClass]="{
      ' list-group-item-dark': isLast,
      'list-group-item-primary': isEven
    }"
  >
    <div>
      <span class="text-primary"> {{ i + 1 }}. - </span>

      <span> {{ character.name }} - </span>

      <strong>Power: </strong>

      <span> {{ character.power }}</span>
    </div>

    <button (click)="onDeleteCharacter(i)" type="button" class="btn btn-danger">
      X
    </button>
  </li>
</ul>
