.spinner-container{
    align-items: center;
    background-color: black;
    border-radius: 20px;
    bottom:15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    padding: 5px 10px;
    position:fixed;
    right: 15px;
}

span{
    
    margin-left: 5px;

}

